.app, .appHot, .appCold {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: auto;
  font-family: sans-serif;
  transition: 0.4s ease-out;
}

.app {
  background-image: url('./assets/default_weather.jpg'); 
}

.appHot {
  background-image: url('./assets/hot_weather.jpg');
}

.appCold {
  background-image: url('./assets/cold_weather.jpg');
}

.searchBox {
  display: flex;
  width: 80%;
  margin: 10% auto 0;
}

.searchBar {
  display: block;
  width: 100%;
  padding: 15px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  font-size: 20px;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
}

.containerWeather{
  display: flex;
  flex-flow: column;
  margin: 10%;
  width: 80%;
}

.locationBox, .weatherBox {
  color: white;
  text-shadow: 0px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
  margin: 0 auto 10%;
}
.weatherBox {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
  color: black;
  text-shadow: 0px 5px rgba(255, 255, 255, 0.5);
  width: auto;
  padding: 10%;
  margin: 0 auto;
}
.location {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
  text-shadow: 0px 5px rgba(0, 0, 0, 0.5);
}

.date {
  font-size: 20px;
}

.temperature {
  font-size: 48px;
  font-weight: 700;
}

.weather {
  font-size: 32px;
  margin-bottom: 20px;
}

.weatherIcon img {
  width: auto;
  padding: 0;
  box-sizing: border-box;
}


/* CSS para telas maiores ou iguais a 700px */
@media screen and (min-width: 700px) {
  .searchBox {
    width: 50%;
    margin: 5% auto 0;
  }

  .containerWeather {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 3% auto;
    width: 80%;
  }

  .locationBox {
    margin: auto;
  }

  .weatherBox {
    width: auto;
    padding: 20px 10%;
  }
}